DI_AUTH_URI=http://di-keycloak:8080/realms/NBS

NBS_DBSERVER=localhost:2433
NBS_DBUSER=sa
NBS_DBPASSWORD=fake.fake.fake.1234

KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=fake.fake.fake.1234
KC_HOSTNAME_STRICT_HTTPS=false
KC_HOSTNAME_URL=http://di-keycloak:8080
KC_HOSTNAME_STRICT_BACKCHANNEL=false
