# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# mongo data replica
report-service/data
report-service/dlt_records

.DS_Store
.gradle/7.6/dependencies-accessors/dependencies-accessors.lock
.gradle/7.6/dependencies-accessors/gc.properties
.gradle/7.6/executionHistory/executionHistory.lock
.gradle/7.6/fileChanges/last-build.bin
.gradle/7.6/fileHashes/fileHashes.lock
.gradle/7.6/gc.properties
.gradle/8.0.2
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
.gradle/file-system.probe
.gradle/7.6/checksums/checksums.lock


# HL7 Wrapper ignore 

hl7-parser/HELP.md
hl7-parser/.gradle
hl7-parser/build/
!hl7-parser/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
hl7-parser/.idea/
hl7-parser/.gradle/
.gradle
.idea

### STS ###
hl7-parser/.apt_generated
hl7-parser/.classpath
hl7-parser/.factorypath
hl7-parser/.project
hl7-parser/.settings
hl7-parser/.springBeans
hl7-parser/.sts4-cache
hl7-parser/bin/
hl7-parser/build/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
hl7-parser/.idea
*.iws
*.iml
*.ipr
hl7-parser/out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/hl7-parser/nbproject/private/
/hl7-parser/nbbuild/
hl7-parser/dist/
hl7-parser/nbdist/
hl7-parser/.nb-gradle/

### VS Code ###
hl7-parser/.vscode/


dataingestion.env
/report-service/libs/