# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# mongo data replica
data-ingestion-service/data
data-ingestion-service/dlt_records

.DS_Store
.gradle/

### karatetest ###
karatetest/build/
karatetest/.gradle
karatetest/.idea

# private pem
data-ingestion-service/src/main/resources/certs/private.pem

# hl7 parser build
hl7-parser/build/

# hl7 parser
hl7-parser/.gradle/
hl7-parser/.idea/*
hl7-parser/.gradle/*

### .idea ###
.idea/
.idea/.name
.idea/*.xml
.idea/modules/*
.idea/libraries/*

### env ###
*.env