NBS_DBSERVER=value
NBS_DBUSER=value
NBS_DBPASSWORD=value
BOOTSTRAP_SERVERS=value
DI_LOG_PATH=value
DI_AUTH_URI=value
DI_SFTP_ENABLED=value
DI_SFTP_HOST=value
DI_SFTP_USER=value
DI_SFTP_PWD=value
DI_SFTP_ELR_FILE_EXTNS=value
DI_PHCR_IMPORTER_VERSION=value
DI_SFTP_FILEPATHS=value
KC_BOOTSTRAP_ADMIN_USERNAME=value
KC_BOOTSTRAP_ADMIN_PASSWORD=value
OBR_SPLITTING_ENABLED=value
HL7_BATCH_SPLITTING_ENABLED=value
