<configuration>
    <!-- Appenders -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <appender name="DYNAMIC_FILE" class="gov.cdc.dataingestion.config.LogDynamicFileAppenderConfig">
<!--        Auto delete -->
<!--        Unique ID per message-->
<!--        Specify logback.xml in app.yml HOW?-->
<!--        Considering add diff file for each day-->
        <logFilePath>logs/kafka_dlt_error.log</logFilePath>
        <append>true</append>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- Loggers -->
    <logger name="gov.cdc.dataingestion.kafka.integration.service.KafkaConsumerService" level="INFO">
        <appender-ref ref="DYNAMIC_FILE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
