name: Build and push data-processing-service images to ECR
on:
  push:
    branches:
      - main
      - master
      - rel-**
    paths:
      - "data-processing-service/**"
      - "cdaschema/**"
jobs:
# APP-145: turned off sonar scan for now until it is fixed (1/8/26)
#  sonar_scan:
#    permissions:
#      id-token: write
#      contents: read
#    uses: ./.github/workflows/sonar.yaml
#    secrets:
#      CDC_NBS_SANDBOX_SHARED_SERVICES_ACCOUNTID: ${{secrets.CDC_NBS_SANDBOX_SHARED_SERVICES_ACCOUNTID}}
#      PASSED_GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
#      SONAR_TOKEN: ${{secrets.SONAR_TOKEN}}
#      DATABASE_USER: ${{secrets.DATABASE_USER}}
#      DATABASE_PASSWORD: ${{secrets.DATABASE_PASSWORD}}
  extract-version-suffix:
    name: Extract image tag from version
#    needs: sonar_scan
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.parse.outputs.image_tag }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Read version from build.gradle and extract suffix
        id: parse
        run: |
          version_line=$(grep "^version" ./data-processing-service/build.gradle)
          version=$(echo "$version_line" | sed -E "s/version *= *['\"]([^'\"]+)['\"]/\1/")
          echo "Full version: $version"

          # Default value
          image_tag="SNAPSHOT"

          # Match SNAPSHOT-123
          if [[ "$version" =~ SNAPSHOT-([0-9]+) ]]; then
            image_tag="SNAPSHOT-${BASH_REMATCH[1]}"
          elif [[ "$version" =~ SNAPSHOT ]]; then
            image_tag="SNAPSHOT"
          fi

          echo "image_tag=$image_tag" >> $GITHUB_OUTPUT
  call-build-microservice-container-workflow:
    permissions:
      id-token: write
      contents: read
      security-events: write
    name: Build Container
    needs: extract-version-suffix
    uses: CDCgov/NEDSS-Workflows/.github/workflows/Build-gradle-microservice-container.yaml@main
    with:
      microservice_name: nbs7-data-processing-service
      dockerfile_relative_path: -f ./data-processing-service/Dockerfile .
      environment_classifier: ${{ needs.extract-version-suffix.outputs.image_tag }}
      java_version: "21"
    secrets:
      NBS_ACCOUNTID: ${{secrets.NBS_ACCOUNTID}}

